{% extends "layout.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="content-block-home">
    {% if user.is_authenticated %}
        <h2>Welcome! {{ user.username }} !!!</h2>
        <p> search </p>
        <input type="checkbox" id="toggle-switch">
        <table id="tasks-table">
            <tr>
                <th>Date</th>
                <th>ID</th>
                <th>Solar Plant</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
        </table>
    {% endif %}
</div>
{% endblock %}
