{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body style="margin:0;">
    {% if user.is_authenticated %}
    <div class="container">
        <nav id="navbar" class="site-nav-top">
            <a class="block-icon-text" href="{% url 'home' %}">
                <img></img>
                <p>Solar cell maintenance system</p>
            </a>
            <div class="site-top-right">
                <!-- <a href="{% url 'home' %}">Home</a> -->
                <a href="#" class="block-icon-text">
                    <img></img>
                    <!-- <p>{{user.name}} {{user.surname}}</p> -->
                    <p>Name Surname</p>
                </a>
                <p> | </p>
                <a href="{% url 'account_logout' %}" class="block-icon-text">
                    <img></img>
                    <p>Logout</p>
                </a>
            </div>
        </nav>

        <nav id="navbar" class="site-nav-left">
            <div class="navbar-left">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'solarplant_view' %}">Solar Plants</a>
                <a href="{% url 'upload_view' %}">Upload</a>
            </div>
        </nav>

        <div class="site-content">
            {% block content %}{% endblock %}
        </div>

        {% block script %} {% endblock %}

    </div>

    {% else %}
        <p>Please wait for approvement. The Admin is going to approve soon</p>
    {% endif %}
</body>

</html>