.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "Name"
        "Email "
        "Department"
        "Password";
    gap: 0px;
}

.site-for-name {
    grid-area: Name;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.site-for-name div input {
    width: 91%;
}